{% extends 'layout.twig' %}

{% block body %}
	{#<h1>{{title}}</h1><p>Welcome to{{title}}</p>#}

	<div>
		<div id="components-options" class="row g-2 mb-3">
			<div class="col-md">
				<div
					class="form-floating">

					<!-- Region selector -->
					<div class="form-floating">
						<select id="region-selector" class="form-select" aria-label="Floating label select example" data-action="update">
							{% for key, region in regions %}
								<option value="{{ key }}">{{ region.name }}</option>
							{% endfor %}
							<option disabled></option>
							<option disabled style="font-size:10px">ℹ️ We support 154 currencies</option>
						</select>
						<label for="floatingSelect">Customer location</label>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div
					class="form-floating">

					<!-- Aspect selector -->
					<div class="form-floating">
						<select id="aspect-selector" class="form-select" aria-label="Floating label select example" data-action="update">
							{% for key, aspect in aspects %}
								<option value="{{ key }}">{{ aspect.name }}</option>
							{% endfor %}
						</select>
						<label for="floatingSelect">Appearance customisation</label>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="components-wrapper" class="mb-0">
		<form
			id="payment-form">

			<!-- Failure Alert -->
			<div id="failure-alert" class="alert alert-danger d-none" role="alert"></div>

			<!-- Payment Components -->
			<div class="payments-container">
				<div id="payments"></div>
			</div>
		</form>
	</div>

	<!-- Success Modal -->
	<div id="success-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0">
				<div class="modal-header border-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-center p-5">
					This is your success message!
				</div>
				<div class="modal-footer border-0 justify-content-center">
					<button type="button" class="btn btn-primary px-5" data-bs-dismiss="modal">Try again</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Wallets Disclaimer -->
	<div id="components-disclaimer" class="fixed-bottom text-secondary">Google Pay and Apple Pay disclaimer here...?</div>

	<script src="/js/demo.js" type="module"></script>
	<script src="https://checkout-web-components.checkout.com/index.js"></script>
{% endblock %}
